*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/java/com/example/g_store/ejemplogit/
.idea/
.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302

